<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tinyurl-cleaner-h7dbfmhrege0h0hj.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f3d0f8d3-7b56-4afe-8aa2-97063466072a/resourceGroups/tinyurl-rg/providers/Microsoft.Web/sites/tinyurl-cleaner</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://tinyurl-cleaner-h7dbfmhrege0h0hj.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>